@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.common-page {
  @apply p-3 min-h-[calc(100vh-56px)] bg-violet-50;
}